# Ignore .idea .metadata folder
.idea
.metadata

# Ignore out folder
out

# Ignore specific file
algorithm.iml

# lgnore base java file
algorithm_problem/bin
algorithm_problem/.classpath
algorithm_problem/.project
# algorithm_problem/Main.java
# algorithm_problem/Solution.java
